.item {
  margin: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}
/* .row__posters {
  margin: 3rem auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 7rem;
} */
.row__poster .poster {
  width: 15.6rem;
  height: 30.6rem;
  border-radius: 6px;
  gap: 12px;
}

.group{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.Featured h2 {
  color: #000;
  font-family: DM Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Featured .item p {
  color: #be123c;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
}
.row__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  /* line-height: 23px; */
  /*  */
}
.imdb-R,
.rotenTomato {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row__title {
  margin-top: 2rem;
  width: 250px;
  font-weight: bold;
  font-size: 18px;
}

.item p {
  color: #be123c;
}
