@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.movie__details {
  display: flex;
}

h3 {
  font-size: 24px;
}
p {
  font-size: 20px;
}
.middle {
  width: 70%;
  margin: 2.3rem auto;
}
.play img {
  width: 100%;
  height: 30rem;
  margin-bottom: 1.94rem;
  border-radius: 1.25rem;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.56rem;
}
.movie_det_title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.movie_det_title h3 {
  color: #404040;
  font-family: Poppins;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.point {
  color: #404040;
  font-family: Poppins;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.movie_info_right{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.show {
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.625rem;
  background: #be123c;
  border: none;
  padding: 0.81rem 5.38rem;
  align-items: center;
  display: flex;
}

.more {
  color: #333;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.625rem;
  border: 1px solid #be123c;
  background: rgba(190, 18, 60, 0.1);
  display: flex;
  padding: 0.81rem 5.38rem;
  align-items: center;
}
.movie_info{
    display: flex;
    justify-content: space-between;
}
.movie_info_left{
    max-width: 40rem;
}