* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500&display=swap");
.header {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(/img/Poster.png);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.hide {
  display: none;
}
.header_content {
  position: relative;
  max-width: 404px;
  min-height: 285px;
  top: 10rem;
  left: 8%;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.header_title {
  width: 404px;
  height: 112px;
  color: white;
  font-size: 48px;
}

.movie_overview {
  color: #fff;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
}

.header_buttons button {
  margin-top: 2.5rem;
  color: white;
  width: 169px;
  font-family: DM Sans;
  height: 36px;
  padding: 6px 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 6px;
  gap: 8px;
  border: #be123c;
  background-color: #be123c;
}
.header_rating {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.imdb_rating p {
  color: #fff;
  font-family: DM Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem; /* 100% */
}

@media (max-width: 500px) {
  .header_content {
    left: 3rem;
  }
  .movie_overview {
    width: 70%;
  }
  .nav_menu img {
    display: none;
  }
}

@media (max-width: 380px) {
  .navbar,
  .header_content {
    scale: 0.9;
  }
  .header_content {
    left: 3%;
  }
  .navbar_title img {
    display: none;
  }
  .item {
    flex-direction: column;
  }
}
.item {
  margin: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.row_poster .poster {
  width: 15.6rem;
  height: 30.6rem;
  border-radius: 6px;
  gap: 12px;
}

.group {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 5rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.Featured h2 {
  color: #000;
  font-family: DM Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Featured .item p {
  color: #be123c;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
}
.row_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  /* line-height: 23px; */
  /*  */
}
.imdb-rating,
.rotenTomato {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row__title {
  margin-top: 2rem;
  width: 250px;
  color: var(--gray-900, #111827);
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item p {
  color: #be123c;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.movie-overview {
  color: #333;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.middle {
  width: 70%;
  margin: 2.3rem auto;
}
.play img {
  width: 100%;
  height: 30rem;
  margin-bottom: 1.94rem;
  border-radius: 1.25rem;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.56rem;
}
.movie_det_title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.movie_det_title h3 {
  color: #404040;
  font-family: Poppins;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.point {
  color: #404040;
  font-family: Poppins;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.movie_info_right {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.movie_info_right img.extra {
  width: 100%;
}
.show {
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.625rem;
  background: #be123c;
  border: none;
  width: 100%;
  justify-content: center;
  padding: 0.81rem 0;
  align-items: center;
  display: flex;
  gap: 0.3rem;
}

.more {
  color: #333;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.625rem;
  border: 1px solid #be123c;
  background: rgba(190, 18, 60, 0.1);
  display: flex;
  gap: 0.3rem;
  width: 100%;
  justify-content: center;
  padding: 0.81rem 0;
  align-items: center;
}
.movie_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie_info_left {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.movie_info_left img {
  width: 100%;
}
