@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500&display=swap');
*{
  font-family: "DM Sans";
}

.imdb{
  width: 35px;
height: 17px;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}